<h3>Editar prospecto</h3>

<%= link_to @prospectu do %>
  <%= image_tag("b_browse.png", :alt => 'Mostrar detalle de prospecto', :border => 0) %> Mostrar
<% end %> 
|
<%= link_to prospectus_path do %>
  <%= image_tag("volver.gif", :alt => 'Volver', :border => 0) %> Volver
<% end %> 	

<%= render 'form' %>