<%= form_for(@client, :html => { :multipart => true }) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="tabla_repeater">
	<tr>
		<th><%= f.label :nombre %></th>
		<td><%= f.text_field :nombre %></td>
	</tr>
	<tr>
		<th><%= f.label :apellido %></th>
		<td><%= f.text_field :apellido %></td>
	</tr>
	<tr>
		<th><%= f.label :nro_ruc %></th>
		<td><%= f.text_field :nro_ruc %></td>
	</tr>
	<tr>
		<th><%= f.label :correo %></th>
		<td><%= f.text_field :correo %></td>
	</tr>
	<tr>
		<th><%= f.label :direccion %></th>
		<td><%= f.text_field :direccion %></td>
	</tr>
	<tr>
		<th>Foto: </th>
		<td><%= f.file_field :imagen %><br>
		    <%= image_tag @client.imagen.url(:thumb) %></td>
	</tr>
	<tr>
		<th><%= f.label :telefono %></th>
		<td><%= f.text_field :telefono %></td>
	</tr>
	<tr>
		<th><%= f.label :celular %></th>
		<td><%= f.text_field :celular %></td>
	</tr>
	<tr>		
		<td colspan="2" align="center"><%= f.submit %></td>
	</tr>
<% end %>
