<h3>Editar cliente</h3>

<%= link_to @client do %>
  <%= image_tag("b_browse.png", :alt => 'Mostrar detalle de cliente', :border => 0) %> Mostrar
<% end %> 
|
<%= link_to clients_path do %>
  <%= image_tag("volver.gif", :alt => 'Volver', :border => 0) %> Volver
<% end %> 	

<%= render 'form' %>