<h3>Listado de Pacientes</h3>

<%= link_to new_patient_path do %>
  <%= image_tag("agregar.gif", :alt => 'Nuevo paciente', :border => 0) %> Nuevo paciente
<% end %>
|
<%= link_to spots_path do %>
  <%= image_tag("volver.gif", :alt => 'Volver', :border => 0) %> Volver
<% end %>
		
<table class="tabla_repeater">
  <tr>
    <th>Nombre</th>
    <th>Foto</th>  
    <th>Especie</th>
    <th>Raza</th>
    <th>Genero</th>
    <th>Tipo sangre</th>
    <th>Esterilizado</th>
    <th>Tamano</th>
    <th>Actividad</th>
    <th>Peso</th>
    <th>Fecha Nac</th>
	<th>Dueño</th>
    <th colspan='3'>Acciones</th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.nombre %></td>
    <td><%= image_tag patient.imagen.url(:thumb) %></td>
    <td><%= patient.species.nombre %></td>	
    <td><%= patient.race.nombre %></td>
    <td><%= patient.genero %></td>
    <td><%= patient.blood_type.nombre %></td>
    <td><%= patient.esterilizado %></td>
    <td><%= patient.tamano %></td>
    <td><%= patient.actividad %></td>
    <td><%= patient.peso %></td>
    <td><%= patient.fecha_nac %></td>
	<td><%= patient.client.nombre %></td>
	
	<td align="center">
		<%= link_to patient_path(patient) do %>
		  <%= image_tag("b_browse.png", :alt => 'Mostrar detalle de paciente', :border => 0) %> Mostrar
		<% end %>
	</td>
		
	<td align="center">
		<%= link_to edit_patient_path(patient) do %>
		  <%= image_tag("b_edit.png", :alt => 'Editar paciente', :border => 0) %> Editar
		<% end %>
	</td>
		
	<td align="center">
		<%= link_to patient, confirm: '¿Está seguro de eliminar el paciente?', method: :delete do %>
		  <%= image_tag("b_drop.png", :alt => 'Eliminar paciente', :border => 0) %> Eliminar
		<% end %>
	</td>
  </tr>
<% end %>
</table>