<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @role.nombre %>
</p>

<p>
  <b>Comentario:</b>
  <%= @role.comentario %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
