<!DOCTYPE html>
<html>
<head>
  <title>Spots</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
    
  <%= csrf_meta_tags %>  	
</head>
<body>

<div id="user_nav">
<% if user_signed_in? %>
	Inicio de sesion como <%= current_user.email %>. No eres tu?
	<%= link_to "Cerrar sesion", destroy_user_session_path %>
<% else %>
	<%= link_to "Crear usuario", new_user_registration_path %> | <%= link_to "Iniciar sesion", new_user_session_path %>.
<% end %>
</div>

<%= yield %>

</body>
</html>