<p id="notice"><%= notice %></p>

<p>
  <b>Nombre</b>
  <%= @species.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @species.descripcion %>
</p>


<%= link_to 'Edit', edit_species_path(@species) %> |
<%= link_to 'Back', species_index_path %>
